<div class="card">
    <div class="card-body">
        <h4 class="card-title"> countries and capitals </h4>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Capital</th>
                    <td>operations</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let country of countries">
                    <td>{{country._id}}</td>
                    <td>{{country.name}}</td>
                    <td>{{country.capital}}</td>
                    <td><button class="btn btn-danger" (click)="doDelete(country)">Delete</button>
                        <button class="btn btn-danger" (click)="doUpdate(country)">edit</button>
                    </td>
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>
